openapi:
  name: ${spring.application.name}
  title: ${spring.application.name}
  version: '@project.version@'
spring:
  application:
    name: api-citizenchanges
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
  flyway:
    baseline-on-migrate: true
    enabled: false
  security:
    oauth2:
      client:
        registration:
          citizen:
            authorization-grant-type: client_credentials
            provider: citizen
          messaging:
            authorization-grant-type: client_credentials
            provider: messaging
integration:
  citizen:
    connect-timeout: 5
    read-timeout: 30
  messaging:
    connect-timeout: 5
    read-timeout: 30
  open-e:
    connect-timeout: 5
    read-timeout: 30
scheduling: 
  lock-at-most-for: PT2M

logbook:
  body-filters:
    jsonPath:
      - key: '$..htmlMessage'
        value: '[base64]'
